.toast-container {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    min-width: 10rem;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;
    transition: transform 0.3s ease-out;
    justify-content: space-between;
    font-size: .65rem;
    gap: 1rem;
  }
  
  .toast-container.show {
    display: flex;
    transform: translateY(0);
    align-items: center;
  }
  
  .toast-header {

  }
  
  .close-icon {
    cursor: pointer;
  }
  
  .toast-body {
    // margin-top: 10px;
  }
  