:host {
  .filters {
    padding: .4rem 2rem;
    background: white;
    .filter {
      padding: 0.5rem 0;
      font-size: 0.75rem;
      font-weight: 600;
      color: rgba(87, 87, 87, 0.863);
      text-transform: capitalize;
      cursor: pointer;

      i {
        font-size: 0.7rem;
        margin-right: 0.25rem;
      }
    }
  }
}
